*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==================FORMATOS GENERALES================= */

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
body {
    background:#f5f5f5;
    color:#444444;
}
a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.6rem;
}
ul {
    list-style: none;
} 
.container {
    width: 107rem;
    margin: auto;
    padding-bottom: 3rem;
    box-shadow: 0 1rem 3rem #616161;
}

/*==============NAVEGATION================= */

.contenedor_nav {
    position: fixed;
    width: 100%;
}
.nav-main {
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    height: 6rem;
    background: #000000;
    opacity: .95;
}
.nav-brand {
    width: 5rem;
    margin-right: 2rem;
}

/*===============NAV LEFT========================= */

.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: .5rem 2rem;
    text-transform: uppercase;
}
.nav-main ul li:hover{
    border-bottom: 2px solid #f5f5f5;
}

.nav-main ul.nav-menu-center {
    flex: 1;
}
/* ===============NAVEGACION MAQUINA DEL TIEMPO -=============== */
.nav__timemachine {
    position:relative;
    color: #f5f5f5;
}
.nav__timemachine__boton {
    display: none;
}
.nav__timemachine__nav {
    position: absolute;
    top:4.5rem;
    left:0;
    height: 20rem;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display:none;
}
.nav__timemachine-span {
    cursor: pointer;
}
.nav__timemachine__nav a {
    display: block;
    font-size: 1.4rem;
    margin:4rem;
}
.nav__timemachine__nav a:hover {
    color:#5abd4f;
}
.nav__timemachine__boton:checked ~ .nav__timemachine__nav{
    display: block;
}
/* ===========NAVEGACION RESPONSIVE=========== */

/* ============DIV PRINCIPAL RESPONSIVE======== */

.nav__responsive {
    position:fixed;
    width: 30rem;
    background: #000000;
    top:0;
    right:0;
    z-index: 2000;
    opacity:.9;
}

/* ===========HAMBURGER NAV=========== */

.nav__responsive__boton {
    display: none;
}
.nav__responsive__boton__label {
    position:absolute;
    right:0;
    top: 0;
    margin-right:2rem;
    height: 5rem;
    color: white;
    display:flex; 
    align-items: center;
    cursor: pointer;
}
.nav__responsive__boton__label span,
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
    height:4px;
    width:3rem;
    background:#f5f5f5;
    border-radius:2px;
    position:relative;
    display: none;
}
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
    content:'';
    position:absolute;
}
.nav__responsive__boton__label::before {
    bottom:1.4rem;
}
.nav__responsive__boton__label::after {
    top: 1.4rem;
}
.nav__responsive__boton:checked ~ .nav__responsive__menu{
    display: none;
    top: 5rem;
    transform: scale(1,1);
}
/* =========MENU RESPONSIVE======== */

.nav__responsive__menu{
    position: absolute;
    background:#080808;
    opacity:1;
    height: 80rem;
    width:100%;
    transform: scale(1,0);
    transform-origin:right;
    transition: transform 400ms ease-in-out;
    display: none;
}
.nav__responsive__menu li {
    padding:3rem;
    text-align: right;
}
.nav__responsive__menu li a {
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity:2;
}

/*====================== SECCION BLOQUE 1 ================ */

    .contenido-section1 {
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        padding: 3rem 0 0 0;
        display: flex;
        flex-direction: column;
    }

/* =========NAVEGACION BARRA VERDE============ */

    .nav-menu-section1 {
        display:flex;
        height:4.5rem ;
        background: #5abd4f;
        width: 100%;
        padding:10rem 0 0 0rem;
        align-items:flex-end;
        justify-content:start;
    }
    .nav-menu-section1 a {
        color: #f5f5f5;
        margin:.5rem 0 1rem 3rem;
        font-size: 1.5rem;
    }

    /*==============TITULO===================== */

    .section1_titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:0 5.5rem;
        width: 95rem;
        height: auto;
        justify-content: center;
        border-bottom: 1px solid #ddd;
    }
    .section1_titulo h2{
        display: block;
        color:#141414;
        font-size: 4rem;
        padding: 1rem;
        line-height: 6rem;
        flex-grow: 1;
    }
    .section1_titulo .section1_titular-articulo {
        color: #000000;
        font-size: 1.7rem;
        margin: 1rem 0;
        font-style: italic;
        font-weight: 550;
        height: auto;
        padding: 1rem;
        width: 80%;
        line-height: 3rem;
        flex-grow: 1;
    }

    /*================= AUTOR=================*/
 
    .section1_autor {
        display: block;
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-left:2rem;
    }
    .section1_autor span {
        color: #000000;
        margin: 0 .5rem;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
    }
    .section1_autor a {
        color: #000000;
        margin: .4rem;
        justify-content: space-between;
    }
    .section1_autor a:hover {
        color: #0073e5;
    }

/* ===========ARTICULO FLEX================*/

  .contenedor___flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .caja__flex1 {
      width: 60%;
      padding:1rem;
  }

  /*============= ASIDE=================*/

    .section1__aside {
        width: 40%;
}
    .aside__contenido {
        padding:4rem 7rem 3rem 3rem;
        height: 100%;
    }
    .aside__contenido-enlaces {
        height: 50rem;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 1rem;
    }

    /*============ IMAGEN=======================*/

    .section1_contenedor-img {
        margin:3rem 2rem;
    }
    .section1_contenedor-img img {
        display: block;
        width: 100%;
        max-width: 55rem;
        max-height: 45rem;
        margin: auto;
        object-fit: cover;
        object-position:top;
    }

    /* ================TITULO Y PARRAFO=================*/

    .parrafo1 {
        display: block;
        padding: 2rem 0rem 4rem 0;
        font-size: 1.7rem;
        width: 90%;
        line-height: 4rem;
        margin:auto;
    }
    .parrafo1 p {
        text-align: left;
    }
    .parrafo1 p::first-letter {
        text-align: justify;
        font-size: 3rem;
    }

    /* ===============IMAGEN DE PARRAFO==================== */

    figcaption {
        font-size: 1.7rem;
        font-weight: 600;
        color: #141414;
        text-align: center;
        margin: 1rem 0;
     }
     h3 {
         color: #141414;
         font-size: 3rem;
     }
     .img_parrafo1 {
        margin: 4rem 2rem;
     }
     .img_parrafo1 img {
        display: block;
        width: 100%;
        max-width: 50rem;
        max-height: 40rem;
        margin: auto;
        object-fit: contain;
     }
     .parrafo1-2 img {
        width: 50%;
        margin: 3rem 1rem 1rem 3rem ;
     }
     .parrafo1-2 .img2 {
        width: 50%;
        margin: 1rem 3rem 0rem 0 ;
     }
     .parrafo1-2 .img3 {
        width: 50%;
        height: 110%;
        margin: 3rem 1rem 1rem 0 ;
     }
     .parrafo1-4 img{
        display: block;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding: 2rem;
     }
     .parrafo1-4 .img4{
        text-align: center;
        max-width: 70rem;
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
     }

     /*================= CONTENIDO DE NOTICIAS FINALES=============== */

     .contenedor__noticias-flex {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2.5rem;
        padding: 2rem 7rem;
        margin-top: 8rem;
    }
    .contenedor__noticias-flex img {
        width: 100%;
        height: 20rem;
    }
    .contenedor__noticias-flex h3 {
        font-size: 2.6rem;
        margin: 1rem 0;
        color:#080808;
        text-transform: none;
    }
    .contenedor__noticias-flex p {
        font-size:1.4rem;
    }
    .contenedor__noticias-flex__boton {
        padding: 1rem 0 ;
        display: block;
        color: #5abd4f;
        text-transform: uppercase;
        font-weight: bold;
    }
    .contenedor__noticias-flex__boton:hover{
        text-decoration: underline;
    }

     /*====================ENLACES========================= */

     .footer-links {
        background: #2f3640;
        color: #f5f5f5;
        font-size: 1.2rem;
        padding: 3.5rem 0 ;
    }
    .footer-links-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        align-items: start;
        justify-content: center;
    }
    .footer-links-container ul {
        margin: 0 auto;
    }
    .footer-links-container li a {
        line-height: 2.8;
    }
    .footer-links-container li a:hover{
        color: #5abd4f;
    }
    .footer {
        background: #2f3640;
        color: #616161;
        font-size: 1.2rem;
        padding: 2rem 0;
        text-align: center;
        padding: 2rem;
    }
    .footer h3 {
        color: #f5f5f5;
        font-size: 1.4rem;
    }
   
     /* ======================================
    =======================MEDIA QUERIES========= 
    ====================================================*/
         @media screen and (max-width:65rem) {

    /* =======CONTENEDOR PRINCIPAL=========== */
                .container {
                    width: 98%;
                    margin:0 auto;
                }
                .contenedor_nav {
                    display: block;
                }
                .contenido-section1 {
                    width: 100%;
                }

    /* =========TRANSICION DE MENU RESPONSIVE========= */
                
                .nav__responsive__boton__label span,
                .nav__responsive__boton__label::before,
                .nav__responsive__boton__label::after {
                    display:block;
                }
                .nav__responsive__menu {
                    display: block;
                    transform: scale(1,0);
                    transform-origin: right;
                    transition: transform 400ms ease-in-out;
                }
                .nav__responsive__boton:checked ~ .nav__responsive__menu {
                    display: block;
                    transform: scale(1,1);
                }
                .nav__responsive__menu ul li a:hover {
                    color: #5abd4f;
                    border-bottom: 1px solid #5abd4f;
                    padding-bottom: 1rem;
                }
                
    /* =======LOGO RESPONSIVE======== */
        
                .nav-brand{
                    height:4rem;
                    width: 4rem;
            }
    /* ========= NAVEGACION VERDE BARRA ============== */
                
                .nav-menu-section1 a {
                    padding-bottom:.5rem
                }
    /*======== MENU DE NAVEGACION =======*/
        
                .contenedor_nav{
                    display: block;
                }
                .nav-main {
                    height: 5rem;
                }
                .nav-main ul.nav-menu-center{
                    display: none;
                }
    
 /* =======CONTENEDOR FLEX========= */
                .contenedor___flex {
                    flex-direction: column;
               }
/* ========SECCION DE TITULO DE ARTICULO=========== */
                .section1_titulo{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    padding: 0 3rem;
                    width: 90%;
                    height: auto;
                }
                /* ======= ASIDE======= */
    
                .section1__aside {
                    width: 90%;
                    margin:0 auto;
                    height: 20rem;
                }
                .aside__contenido {
                    padding:0;
                }
                .aside__contenido-enlaces {
                    height: 20rem;
                }
         }
         @media screen and (max-width:56rem) {
            .container {
                width:100%;
            }
            .nav-menu-section1 {
                padding-top: 6.5rem;
            }
            .nav-menu-section1 a {
                display:none;
            }
            .caja__flex1 {
                width: 80%;
                margin:auto;
            }
            .section1_titulo {
                padding: 0 auto;
                margin: auto;
            }
            .contenedor__noticias-flex {
                grid-template-columns: repeat(2,1fr);
            }

         }
         @media screen and (max-width:45rem) {
             
            .section1_titulo h2 {
                font-size: 3.3rem;
                text-align: left;
            }
            .section1_titular-articulo blockquote{
                text-align: justify;
                font-size: 1.5rem;
            }
            .caja__flex1 {
                 width: 100%;
                 padding:0;
             }
             .section1_contenedor-img {
                margin:0;
                padding: 0;
            }
             .img_parrafo1 {
                margin: 4rem 0;
            }
             .contenedor__noticias-flex {
                grid-template-columns: repeat(1,1fr);
            }
            .contenedor__noticias-flex img {
                width: 100%;
                height: auto;
            }
            .contenedor__noticias-flex {
                padding: 2rem 2rem;
            }
            .footer-links-container {
                grid-template-columns: repeat(2,1fr);
            }
         }
         @media screen and (max-width:25rem) {

           .section1_autor {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center ;
            align-content: space-around;
            margin-top: 2rem;
            margin-left: 0;
            }
            .section1_autor span{
                margin: 1rem 0;
            }
            .section1_autor span.articulo-fecha {
                font-weight:500 ;
            }
            .section1_autor span.articulo-autor {
                font-size: 2rem;
                font-weight:500 ;
            }
            .section1_titulo {
                padding-bottom: 2rem;
            }
            .section1_titulo {
                width:100%;
            }
            .section1_titulo h2 {
                line-height: 3.5rem;
            }
            .section1_titular-articulo blockquote{
                line-height: 2.2rem;
            }
            .parrafo1 {
                line-height: 2.8rem;
                padding-top: 0;
            }
            figcaption {
                font-size:1.5rem;
            }
            
            /* ========ENLACES======= */
        
            .footer-links-container {
                grid-template-columns: repeat(1,1fr);
            }
            .footer-links-container ul li a{
                padding:0;
            }
         }
 
        

        