*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==========FORMATOS GENERALES============ */

html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.7;
}

img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: top center;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent ;
}

i {
  -webkit-tap-highlight-color: transparent ;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}
/* ==================
   LAYOUT
   ================ */

.container {
  width: 90%;
  margin: 0 auto 3em;
  padding: 3em 0 0;
}

/*========== NAVEGATION =================*/

.contenedor_nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 100%;
  margin-bottom: 1em;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #080808, #5abd4f, #080808);
}

.nav-brand {
  height: 50px;
  width: 50px;
  margin-left: 2em;
}

/* === NAV - TITLE == */

.nav-title {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.8em 10em 0.5em 0;
  background: #000;
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0 100%);
}

.title {
  margin-left: 0.7em;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
}

/*==============NAV LEFT=============== */

.nav-menu-right {
  display: flex;
  align-items: center;
  margin-right: 3em;
  padding: 0.5em 0;
}

.nav-menu-right li {
  padding: 0.8em 1em;
  margin-left: 1.5em;
  text-transform: uppercase;
}

.nav-menu-right li:hover {
  border-bottom: 2px solid #fff;
}

.nav-menu-right a {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.menu-btn {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1100;
  font-size: 3.5rem;
  display: none;
}

/* ===============NAVEGACION MAQUINA DEL TIEMPO -=============== */

.nav__timemachine {
  position: relative;
  color: #f5f5f5;
}
.nav__timemachine__boton {
  display: none;
}
.nav__timemachine__nav {
  position: absolute;
  top: 4.5rem;
  left: 0;
  height: 20rem;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.nav__timemachine-span {
  cursor: pointer;
}
.nav__timemachine__nav a {
  display: block;
  font-size: 1.4rem;
  margin: 4rem;
}
.nav__timemachine__nav a:hover {
  color: #5abd4f;
}
.nav__timemachine__boton:checked ~ .nav__timemachine__nav {
  display: block;
}

/* ===========BTN RESPONSIVE=========== */

.nav__responsive__boton {
  display: none;
}

.btn-responsive {
  font-size: 3rem;
  color: #f5f5f5;
  cursor: pointer;
  display: none;
}

/* ===========NAVEGACION RESPONSIVE=========== */

.nav__responsive {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
}

/* =========MENU RESPONSIVE======== */

.nav__responsive__menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 4.8rem;
  height: 60vh;
  width: 100%;
  display: none;
}

.nav__responsive__menu ul {
  margin-right: 1em;
}

.nav__responsive__menu li {
  margin-top: 3em;
  padding: 2em;
  text-align: right;
}
.nav__responsive__menu li a {
  font-size: 1.7rem;
  text-transform: uppercase;
}

/*============= SHOWCASE BACKGROUNDS================*/

.bg-inicio {
  background-image: url(https://th.bing.com/th/id/R3a194d6dc2e5e56454c1b9c24a55ba19?rik=cZNDgpoXER5nEw&pid=ImgRaw);
}

.bg-antibio {
  background-image: url(https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80);
}

.bg-anti-croni {
  background-image: url(https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

/* ================================
  SHOWCASE GENERAL
  =============================  */

.showcase {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  min-height: 90vh;
  max-height: 100vh;
  position: relative;
}

.showcase_texto {
  width: 90%;
  margin: 0 auto 4.5em;
  z-index: 2;
}

.showcase_texto h2,
.showcase_texto p {
  width: 80%;
}

.showcase_texto h2 {
  font-size: 7rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}
.showcase_texto p {
  line-height: 3rem;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
}
.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.9) 90%
  );
}

/*===================
  CONTENIDO PRINCIPAL
  ==================*/

.contenido-principal-titular-h3 {
  font-size: 3.5rem;
  border-bottom: 2px solid #f1f1f1;
  padding: 1em 0;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.contenido-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 5em;
}

.contenedor-principal-img {
  overflow: hidden;
  margin-bottom: 1em;
}
.contenido-principal img {
  width: 100%;
  max-height: 220px;
  min-height: 220px;
  transition: all 300ms ease-in-out;
}

.contenido-principal img:hover {
  transform: scale(1.1);
}

.contenido-principal h3 {
  font-size: 2.8rem;
  line-height: 1.3;
  padding: 1rem 0;
  color: #080808;
}
.contenido-principal p {
  font-size: 1.8rem;
  color: #8c8c8c;
  line-height: 2.4rem;
}

/* ========================
   CONTENIDO PRINCIPAL ANTIBIOGRAFIA
   ======================== */
 .anti-principal {
   width: 90%;
   margin: 5em auto 8em;
   gap:2em;
 }

 .anti-container {
  position: relative;
  min-height: 220px;
  max-height: 220px ;
 }

 .anti-title {
   display: inline-block;
   position: absolute;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   left:0;
   bottom:0;
   font-size: 2.5rem;
   letter-spacing: 1px;
   font-weight: 600;
   padding: .5em 1em;
 }

/* ================= */
   /* Barra index  */
/* ================= */

.barra-nav-flex {
  display: flex;
  justify-content: center;
  padding: 4em 0 0;
  margin-bottom: 8em;
}

.barra-nav-li {
  margin: 0 .5em ;
}

.barra-nav-index {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: .3em .6em;
  font-size: 1.4rem;
}

/*===============
 REDES SOCIALES
 ==================*/

.enlaces {
  padding: 4rem 0 3rem;
  border-top: 2px solid #f1f1f1;
}
.enlaces p {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  margin: 1em 0;
  color: rgba(0, 0, 0, 0.6);
}
.enlaces-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlaces-contenedor i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.5rem;
  margin: 0.5em 1em;
}

.enlaces-contenedor i:hover {
  color: #5abd4f;
}

/*==================FOOTER LINKS================*/

.footer-links {
  background: #2e312e;
  padding: 8em 0;
}
.footer-links-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12em;
  width: 90%;
  margin: 0 auto;
}

.footer-links-title {
  font-size: 2rem;
  color: #5abd4f;
  margin-bottom: 1em;
  position: relative;
  letter-spacing: 1px;
}

.footer-links-title:before {
  content: "";
  position: absolute;
  bottom: -0.1em;
  height: 3px;
  width: 45px;
  background-color: #5abd4f;
}

.footer-links-information,
.footer-links-container li i,
.footer-links-container a,
.footer {
  color: rgba(255, 255, 255, 0.7);
}

.footer-links-information,
.footer-links-container a {
  font-size: 1.7rem;
}

.footer-links-container li i {
  display: inline-block;
  padding-right: 1em;
}

.footer-links-container a {
  display: inline-block;
  padding-bottom: 0.8em;
}

.footer {
  background: #2e312e;
  font-size: 1.2rem;
  padding: 2rem 0;
  text-align: center;
}

/*=================================================
================== MEDIA QUERIES====================
=========================================================*/

@media screen and (max-width: 1024px) {
  /* =========TRANSICION DE MENU RESPONSIVE========= */

  .btn-responsive {
    margin-right: 1em;
    display: block;
  }

  .nav__responsive__menu {
    top: 5em;
  }
  /*======== MENU DE NAVEGACION =======*/

  .nav-menu-right {
    display: none;
  }

  .title {
    font-size: 2rem;
  }

  .nav-brand {
    height: 35px;
    width: 35px;
  }

  .showcase_texto h2 {
    font-size: 5rem;
  }

  .contenido-principal-titular-h3 {
    font-size: 2.8rem;
  }

  .contenido-principal {
    grid-template-columns: repeat(2, auto);
  }
  .footer-links-container {
    grid-template-columns: repeat(1, auto);
    gap: 4em;
  }

  .last-new {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav__responsive {
    width: 100%;
  }

  .nav__responsive__menu {
    height: 100vh;
  }

  .nav__responsive__menu li a {
    font-size: 2rem;
  }

  html {
    font-size: 8px;
  }

  .nav-brand {
    display: none;
  }

  .nav-title {
    padding: 0.6em 6em 0.6em 1.5em;
  }

  .showcase,
  .showcase_texto {
    margin-bottom: 2em;
  }

  .showcase_texto {
    margin-bottom: 7em;
  }
  .showcase_texto h2,
  .showcase_texto p {
    width: 95%;
  }

  .showcase_texto h2 {
    font-size: 4rem;
    margin-bottom: 1em;
  }

  .contenido-principal-titular-h3 {
    display: none;
  }

  .contenido-principal {
    grid-template-columns: repeat(1, auto);
  }

  .footer-links-container {
    width: 85%;
    text-align: center;
  }

  .footer-links-container h3,
  .footer-links-container li {
    text-align: center;
  }
  .footer {
    letter-spacing: 2px;
  }
}
