*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==========FORMATOS GENERALES============ */

html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.7;
}

img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: top center;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}
/* ==================
   LAYOUT
   ================ */

.container {
  width: 90%;
  margin: 0 auto 3em;
  padding: 3em 0 0;
}

/*========== NAVEGATION =================*/

.contenedor_nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 100%;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #080808, #5abd4f, #080808);
}

.nav-brand {
  height: 50px;
  width: 50px;
  margin-left: 2em;
}

/* === NAV - TITLE == */

.nav-title {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.8em 10em 0.5em 0;
  background: #000;
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0 100%);
}

.title {
  margin-left: 0.7em;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
}

/*==============NAV LEFT=============== */

.nav-menu-right {
  display: flex;
  margin-right: 3em;
  padding: 0.5em 0;
}

.nav-menu-right li {
  padding: 0.8em 1em;
  margin-left: 1.5em;
  text-transform: uppercase;
}

.nav-menu-right li:hover {
  border-bottom: 2px solid #fff;
}

.nav-menu-right a {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.menu-btn {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1100;
  font-size: 3.5rem;
  display: none;
}

/* ===============NAVEGACION MAQUINA DEL TIEMPO -=============== */

.nav__timemachine {
  position: relative;
  color: #f5f5f5;
}
.nav__timemachine__boton {
  display: none;
}
.nav__timemachine__nav {
  position: absolute;
  top: 4.5rem;
  left: 0;
  height: 20rem;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.nav__timemachine-span {
  cursor: pointer;
}
.nav__timemachine__nav a {
  display: block;
  font-size: 1.4rem;
  margin: 4rem;
}
.nav__timemachine__nav a:hover {
  color: #5abd4f;
}
.nav__timemachine__boton:checked ~ .nav__timemachine__nav {
  display: block;
}

/* ===========NAVEGACION RESPONSIVE=========== */

.nav__responsive {
  position: fixed;
  width: 30rem;
  background: #000000;
  top: 0;
  right: 0;
  z-index: 2000;
  opacity: 0.9;
}

/* ===========HAMBURGER NAV=========== */

.nav__responsive__boton {
  display: none;
}
.nav__responsive__boton__label {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2rem;
  height: 5rem;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav__responsive__boton__label span,
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
  height: 4px;
  width: 3rem;
  background: #f5f5f5;
  border-radius: 2px;
  position: relative;
  display: none;
}
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
  content: "";
  position: absolute;
}
.nav__responsive__boton__label::before {
  bottom: 1rem;
}
.nav__responsive__boton__label::after {
  top: 1rem;
}
.nav__responsive__boton:checked ~ .nav__responsive__menu {
  transform: scale(0, 1);
  display: none;
}
/* =========MENU RESPONSIVE======== */

.nav__responsive__menu {
  position: absolute;
  background: #080808;
  top: 4.8rem;
  height: 100vh;
  width: 100%;
  transform-origin: right;
  transition: all 300ms ease-in-out;
  display: none;
}
.nav__responsive__menu li {
  padding: 3rem;
  text-align: right;
}
.nav__responsive__menu li a {
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 2;
}

/*============= SHOWCASE================*/

.showcase {
  background-image: url(https://th.bing.com/th/id/R3a194d6dc2e5e56454c1b9c24a55ba19?rik=cZNDgpoXER5nEw&pid=ImgRaw);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  min-height: 90vh;
  max-height: 100vh;
  position: relative;
  margin-top: 3.9em;
}

.showcase_texto {
  width: 90%;
  margin: 0 auto 4.5em;
  z-index: 2;
}

.showcase_texto h2,
.showcase_texto p {
  width: 80%;
}

.showcase_texto h2 {
  font-size: 7rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}
.showcase_texto p {
  line-height: 3rem;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
}
.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.9) 90%
  );
}

/*===================
  CONTENIDO PRINCIPAL
  ==================*/

.contenido-principal-titular-h3 {
  font-size: 3.5rem;
  border-bottom: 2px solid #f1f1f1;
  padding: 1em 0;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.contenido-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 5em;
}

.contenedor-principal-img {
  overflow: hidden;
  margin-bottom: 1em;
}
.contenido-principal img {
  width: 100%;
  max-height: 220px;
  min-height: 220px;
  transition: all 300ms ease-in-out;
}

.contenido-principal img:hover {
  transform: scale(1.1);
}

.contenido-principal h3 {
  font-size: 2.8rem;
  line-height: 1.3;
  padding: 1rem 0;
  color: #080808;
}
.contenido-principal p {
  font-size: 1.8rem;
  color: #8c8c8c;
  line-height: 2.4rem;
}

/*===============
 REDES SOCIALES
 ==================*/

.enlaces {
  padding: 4rem 0 3rem;
  border-top: 2px solid #f1f1f1;
}
.enlaces p {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.6);
}
.enlaces-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlaces-contenedor i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.5rem;
  margin: 1em;
}

.enlaces-contenedor i:hover {
  color: #5abd4f;
}

/*==================FOOTER LINKS================*/

.footer-links {
  background: #444444;
  padding: 8rem 3.5em;
}
.footer-links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 2rem;
}
.footer-links-container ul {
  margin: 0 auto;
}
.footer-links-container h3 {
  font-size: 1.8rem;
  color: #5abd4f;
  text-align: left;
}
.footer-links-container li i {
  display: inline-block;
  color: #f5f5f5;
  padding-right: 5px;
}

.footer-links-container a {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.7em 0;
  color: rgba(255, 255, 255, 0.7);
}
.footer-links-container a:hover {
  color: #5abd4f;
}
.footer {
  background: #444444;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  padding: 2rem 0;
  text-align: center;
}

/*=================================================
================== MEDIA QUERIES====================
=========================================================*/

@media screen and (max-width: 1024px) {
  /* =========TRANSICION DE MENU RESPONSIVE========= */

  .nav__responsive__boton__label {
    height: 4rem;
    padding-right: 2em;
    margin: 0;
    top: 0.5em;
  }

  .nav__responsive__boton__label span,
  .nav__responsive__boton__label::before,
  .nav__responsive__boton__label::after {
    display: block;
    height: 3px;
  }

  .nav__responsive__menu {
    display: block;
    top: 4.8rem;
  }

  .nav__responsive__boton:checked ~ .nav__responsive__menu {
    display: block;
    top: 4.8rem;
}  

  .nav__responsive__menu ul li a:hover {
    color: #5abd4f;
    border-bottom: 1px solid #5abd4f;
    padding-bottom: 1rem;
  }

  /*======== MENU DE NAVEGACION =======*/

  .nav-menu-right {
    display: none;
  }

  .title {
    font-size: 2rem;
  }

  .nav-brand {
    height: 35px;
    width: 35px;
  }

  .showcase {
    margin-top: 3em;
  }

  .showcase_texto h2 {
    font-size: 5rem;
  }

  .contenido-principal-titular-h3 {
    font-size: 2.8rem;
  }

  .contenido-principal {
    grid-template-columns: repeat(2, auto);
  }
  .footer-links-container {
    grid-template-columns: repeat(2, auto);
  }

  .last-new {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .nav__responsive__menu {
    display: block;
    top: 4.5rem;
  }
  
  .nav__responsive__boton__label {
    height: 4rem;
    padding-right: 2em;
  }
  html {
    font-size: 8px;
  }

  .nav-brand {
    display: none;
  }

  .nav-main {
    padding: 0;
  }

  .nav-title {
    padding: .6em 6em .6em 1.5em;
  }

  .showcase {
    margin-top: 2.6em;
  }

  .showcase,
  .showcase_texto {
    margin-bottom: 2em;
  }

  .showcase_texto h2,
  .showcase_texto p {
    width: 95%;
  }

  .showcase_texto h2 {
    font-size: 4rem;
    margin-bottom: .2em;
  }

  .contenido-principal-titular-h3 {
    display: none;
  }

  .contenido-principal {
    grid-template-columns: repeat(1, auto);
  }

  .footer-links-container {
    grid-template-columns: repeat(1, auto);
    gap: 3em;
  }

  .footer-links-container h3,
  .footer-links-container li {
    text-align: center;
  }
  .footer {
    letter-spacing: 2px;
  }
}
