*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================FORMATOS GENERALES================= */

html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #f5f5f5;
  color: #131313;
  line-height: 1.7;
}

img {
  display: block;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent ;
}

i,
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent ;
}

ul {
  list-style: none;
}

.parrafo1,
.section1_titular-articulo {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*========== NAVEGATION =================*/

.contenedor_nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  min-width: 100%;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #080808, #5abd4f, #080808);
}

.nav-brand {
  height: 50px;
  width: 50px;
  margin-left: 2em;
}

/* === NAV - TITLE == */

.nav-title {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.8em 10em 0.5em 0;
  background: #000;
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0 100%);
}

.title {
  margin-left: 0.7em;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
}

/*==============NAV LEFT=============== */

.nav-menu-right {
  display: flex;
  align-items: center;
  margin-right: 3em;
  padding: 0.5em 0;
}

.nav-menu-right li {
  padding: 0.8em 1em;
  margin-left: 1.5em;
  text-transform: uppercase;
}

.nav-menu-right li:hover {
  border-bottom: 2px solid #fff;
}

.nav-menu-right a {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.menu-btn {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1100;
  font-size: 3.5rem;
  display: none;
}
/* ===============NAVEGACION MAQUINA DEL TIEMPO -=============== */

.nav__timemachine {
  position: relative;
  color: #f5f5f5;
}

.nav__timemachine__nav {
  position: absolute;
  top: 4.5rem;
  left: 0;
  height: 20rem;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.nav__timemachine-span {
  cursor: pointer;
}
.nav__timemachine__nav a {
  display: block;
  font-size: 1.4rem;
  margin: 4rem;
}
.nav__timemachine__nav a:hover {
  color: #5abd4f;
}

/* ===========BTN RESPONSIVE=========== */

.nav__responsive__boton {
  display: none;
}

.btn-responsive {
  font-size: 3rem;
  color: #f5f5f5;
  cursor: pointer;
  display: none;
}

/* ===========NAVEGACION RESPONSIVE=========== */

.nav__responsive {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
}

/* =========MENU RESPONSIVE======== */

.nav__responsive__menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 4.8rem;
  height: 60vh;
  width: 100%;
  display: none;
}

.nav__responsive__menu ul {
  margin-right: 1em;
}

.nav__responsive__menu li {
  margin-top: 3em;
  padding: 2em;
  text-align: right;
}
.nav__responsive__menu li a {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.nav__responsive__menu li a:hover {
  color:#5abd4f;
}  

/*============== CONTAINER ===================== */

.container {
  margin: 7.3em auto 0;
  padding-bottom: 3rem;
}

.main-article {
  max-width: 850px;
  margin: 0 auto 8em;
  padding-top: 8em;
}

.main-article h3 {
  font-size: 2.7rem;
}

h3,
.title-container,
.parrafo1 {
  width: 80%;
  margin: 0 auto;
}

.title-container {
  margin-bottom: 5em;
}

.section1_titular {
  font-size: 6rem;
  padding: 2rem 0;
  line-height: 1.1;
}

.section1_titular-articulo {
  font-size: 2.6rem;
  font-weight: 400;
  padding: 1em 0;
}

.section1-autor {
  font-size: 1.6rem;
  color: #616161;
  padding: 1em 0;
}

/*IMAGEN portada */

.section1_contenedor-img {
  margin-bottom: 5em;
}
.section1_contenedor-img img {
  object-position: top center;
  max-height: 50rem;
}

/*  img de los parrafos  */

.parrafo-img {
  margin: 4em 0;
}

figcaption {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #616161;
  margin: 1rem 0;
}

/* TITULO Y PARRAFO */

.parrafo1 {
  padding: 2rem 0rem 4rem 0;
  font-size: 2.3rem;
}

/*================= 
CONTENIDO DE NOTICIAS FINALES
=============== */

.contenedor__noticias-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 2.5rem;
  padding: 4em 0;
}
.contenedor__noticias-flex img {
  max-height: 25rem;
  min-height: 25rem;
}
.contenedor__noticias-flex h3 {
  font-size: 2.6rem;
  color: #131313;
  margin: 1rem 0;
  text-transform: none;
}
.text-grid {
  font-size: 1.7rem;
}

/*====================
 FOOTER
  ========================= */

  .footer-links {
    background: #2e312e;
    padding: 8em 0;
  }
  .footer-links-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12em;
    width: 90%;
    margin: 0 auto;
  }
  
  .footer-links-title {
    font-size: 2rem;
    color: #5abd4f;
    margin:0 0 1em;
    position: relative;
    letter-spacing: 1px;
  }
  
  .footer-links-title:before {
    content: "";
    position: absolute;
    bottom: -.1em;
    height: 3px;
    width:45px;
    background-color: #5abd4f;
  }
  
  .footer-links-information,
  .footer-links-container li i,
  .footer-links-container a,
  .footer {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer-links-information,
  .footer-links-container a{
    font-size: 1.7rem;
  }
  
  .footer-links-container li i {
    display: inline-block;
    padding-right: 1em;
  }
  
  .footer-links-container a {
    display: inline-block;
    padding-bottom: 0.8em;
  }
  
  .footer {
    background: #2e312e;
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: center;
  }



/* ================
   MEDIA QUERIES 
   ================ */

@media screen and (max-width: 1024px) {

  .btn-responsive {
    margin-right: 1em;
    display: block;
  }

  .nav__responsive__menu {
    top: 5em;
  }

  /*======== MENU DE NAVEGACION =======*/

  .nav-menu-right {
    display: none;
  }

  .title {
    font-size: 2rem;
  }

  .nav-brand {
    height: 35px;
    width: 35px;
  }

  /* ==============
    CONTAINER
    ================ */

  .container {
    padding: 0 1.5em;
  }

  .contenedor__noticias-flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-links-container {
    grid-template-columns: repeat(1, auto);
    gap: 4em;
  }
}

@media screen and (max-width: 600px) {

  .nav__responsive {
    width: 100%;
  }

  .nav__responsive__menu {
    height: 100vh;
  }

  .nav__responsive__menu li a {
    font-size: 2rem;
  }

  .nav-brand {
    display: none;
  }
  html {
    font-size: 8px;
  }

  .container {
    padding: 0;
    margin: 8em  0 ;
  }

  .main-article {
    padding-top: 2em;
    margin-bottom: 7em;
  }
 
  figcaption {
    margin: 1em auto;
  }

  h3,
  figcaption,
  .title-container,
  .parrafo1 {
    width: 90%;
  }

  .section1_titular {
    font-size: 4.7rem;
  }

  .section1_titular-articulo {
    font-size: 2.4rem;
  }
  .contenedor__noticias-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding: 4em 2em;
  }

  .footer-links-container {
    width: 85%;
    text-align: center;
  }
}
