*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==========FORMATOS GENERALES============ */

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body {
    background:#ffffff;
}
a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.6rem;
}
ul {
    list-style: none;
} 

/*======== CONTENEDOR DE NOMBRE DE PAGINA =================*/

.contenedor__nombre {
    background-color: #5abd4f;
    height: 4rem;
    padding-top: 8rem;
}

/* .contenedor__nombre-titulo {
    text-align:center;
    line-height: 3rem;
    color: #fff;
    padding-top: 1.5rem;
    font-size: 7rem;
    height: 3rem;  
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: .1px black; */


/* CONTENEDOR PRINCIPAL DE CONTENIDO */

.contenido-principal-titular-h3 {
   font-size: 4rem;
   padding: 5rem 10rem;
   border-bottom:2px solid #f1f1f1;
   text-align: left;
   margin-bottom:3rem;
}
.container {
    width:100%;
    margin: auto auto -5rem auto;
    background: #ffffff;   
    box-shadow: 0 1rem 3rem #616161;
}

/*========== NAVEGATION=================*/
.contenedor_nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.nav-main {
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    height: 6rem;
    background: #080808;
    opacity: .95;
}
.nav-brand {
    width: 5rem;
}

/*==============NAV LEFT=============== */

.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding: .5rem 2rem;
    text-transform: uppercase;
}

.nav-main ul li:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu-center {
    flex: 1;
    margin-left: 2rem;
}

.menu-btn {
    position: absolute;
    top: .7rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1100;
    font-size: 3.5rem;
    display:none;
}

/* ===============NAVEGACION MAQUINA DEL TIEMPO -=============== */

.nav__timemachine {
    position:relative;
    color: #f5f5f5;
}
.nav__timemachine__boton {
    display: none;
}
.nav__timemachine__nav {
    position: absolute;
    top:4.5rem;
    left:0;
    height: 20rem;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display:none;
}
.nav__timemachine-span {
    cursor: pointer;
}
.nav__timemachine__nav a {
    display: block;
    font-size: 1.4rem;
    margin:4rem;
}
.nav__timemachine__nav a:hover {
    color:#5abd4f;
}
.nav__timemachine__boton:checked ~ .nav__timemachine__nav{
    display: block;
}

/* ===========NAVEGACION RESPONSIVE=========== */


/* ============DIV PRINCIPAL RESPONSIVE======== */

.nav__responsive {
    position:fixed;
    width: 30rem;
    background: #000000;
    top:0;
    right:0;
    z-index: 2000;
    opacity:.9;
}

/* ===========HAMBURGER NAV=========== */

.nav__responsive__boton {
    display: none;
}
.nav__responsive__boton__label {
    position:absolute;
    right:0;
    top: 0;
    margin-right:2rem;
    height: 5rem;
    color: #f5f5f5;
    display:flex; 
    align-items: center;
    cursor: pointer;
}
.nav__responsive__boton__label span,
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
    height:4px;
    width:3rem;
    background:#f5f5f5;
    border-radius:2px;
    position:relative;
    display: none;
}
.nav__responsive__boton__label::before,
.nav__responsive__boton__label::after {
    content:'';
    position:absolute;
}
.nav__responsive__boton__label::before {
    bottom:1.4rem;
}
.nav__responsive__boton__label::after {
    top: 1.4rem;
}
.nav__responsive__boton:checked ~ .nav__responsive__menu{
    display: none;
    top: 5rem;
    transform: scale(1,1);
}
/* =========MENU RESPONSIVE======== */

.nav__responsive__menu{
    position: absolute;
    background:#080808;
    opacity:1;
    height: 80rem;
    width:100%;
    transform: scale(1,0);
    transform-origin:right;
    transition: transform 400ms ease-in-out;
    display: none;
}
.nav__responsive__menu li {
    padding:3rem;
    text-align: right;
}
.nav__responsive__menu li a {
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity:2;
}


/*============= SHOWCASE================*/

.showcase {
    position: relative;
    background-image: url(../Img/art__vennegoor/VOF\ INICIO.jpg);
    background-repeat:no-repeat;
    background-position:top center ;
    background-size:cover;
    height: 55rem;
}

.showcase img {
    display: block;
    width:100%;
    max-height:55rem;
    margin: 0 auto;     
}

.showcase_texto {
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    top:50%;
    padding: 5rem;
}

.showcase_texto h2 {
    padding: 0 2rem 2rem 2rem;
    font-size:4.5rem;
}

.showcase_texto p {
    padding: 0 2rem 2rem 2rem;
    line-height: 3rem;
    font-size:1.9rem;
    text-align:left;
}

.showcase::before{
    content: '';
    position: absolute;
    top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.0), rgba(0,0,0,0.9));
}

/*====================CONTENIDO PRINCIPAL==================*/

.contenido-principal {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin: 1rem 6rem;
    padding:0 4rem;
}

.contenedor-principal-img{
    overflow:hidden;
}
.contenido-principal img {
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out; 
}

.contenido-principal img:hover {
    transform: scale(1.3);
}
.contenido-principal h3 {
    font-size: 3rem;
    margin: 1rem 0;
    color:#080808;
}
.contenido-principal p {
    font-size:1.6rem;
    color:#8c8c8c;
    line-height:2.4rem;
}
.contenido-principal_boton {
    display: block;
    padding:1rem 0;
    color: #5abd4f;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}
.contenido-principal_boton:hover{
    text-decoration: underline;
}

/*=============BANNER ONE================ */

.banner-one {
    position: relative;
    background: #000000;
    margin: 3rem 0;
    height: 30rem;
}

.banner-one::before {
    position:absolute;
    content:'';
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
}
.banner-one img {
    display: block;
    width:100%;
    height: 30rem;
    min-width:300px;
}
.banner-one h2{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 40%;
    color: #f5f5f5;
    font-size: 2rem;
    padding: 2rem 0 0 3rem;
}
.banner-one p {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f5f5f5;
    padding: 3rem;
    font-size: 1.7rem;
}

/*================ BANNER TWO=====================*/

.banner-two {
    position: relative;
    background: #000000;
    margin: 3rem 0;
    height: 30rem;
}
.banner-two::before {
    position:absolute;
    content:'';
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
}
.banner-two img {
    display: block;
    width:100%;
    height: 30rem;
    min-width:300px;
}
.banner-two h2{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 40%;
    color: #f5f5f5;
    font-size: 2rem;
    padding: 2rem 0 0 3rem;
}
.banner-two p {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f5f5f5;
    padding: 3rem;
    font-size: 1.7rem;
}

/*=============== ENLACES REDES SOCIALES==================*/

.enlaces {
    margin: 5rem;
    border-top:2px solid #f1f1f1;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.enlaces p {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight:600;
    color: #262626;
}
.enlaces-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces-contenedor a {
    font-size: 3rem;
    padding: 2rem;
    color: #262626;
}
.enlaces-contenedor a:hover{
    
    color: #5abd4f;
}

/*==================FOOTER LINKS================*/

.footer-links {
    background: #444444;
    padding: 3.5rem;
}
.footer-links-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    align-items: start;
    justify-content: center;
    padding-top: 2rem;
}
.footer-links-container ul {
    margin: 0 auto;
}
.footer-links-container h3 {
    font-size:1.8rem;
    color: #5abd4f;
    text-align: left;
}
.footer-links-container li {
    display:block;
}
.footer-links-container li i {
    display: inline-block;
    color: #f5f5f5;
    font-size: 1.5rem;
    padding-right: 5px;
}
.footer-links-container li a {
    line-height: 2.8;
    text-align: center;
    font-size:1.3rem;
}
.footer-links-container li a:hover{
    color: #5abd4f;
}
.footer {
    background: #444444;
    color: #f5f5f5;
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: center;
    padding: 2rem;
}

/*=================================================
================== RESPONSIVE DESIGN====================
=========================================================*/

@media screen and (max-width:65rem) {

    /* =========TRANSICION DE MENU RESPONSIVE========= */

    .nav__responsive__boton__label span,
    .nav__responsive__boton__label::before,
    .nav__responsive__boton__label::after {
        display:block;
    }

    .nav__responsive__menu {
        display: block;
        transform: scale(1,0);
        transform-origin: right;
        transition: transform 400ms ease-in-out;
    }

    .nav__responsive__boton:checked ~ .nav__responsive__menu {
        display: block;
        transform: scale(1,1);
    }

    .nav__responsive__menu ul li a:hover {
        color: #5abd4f;
        border-bottom: 1px solid #5abd4f;
        padding-bottom: 1rem;
    }

/* =======LOGO RESPONSIVE======== */

    .nav-brand {
        height:4rem;
        width: 4rem;
    }
    
/*======== MENU DE NAVEGACION =======*/

    .contenedor_nav {
        display: block;
        z-index: 999;
    }

    .contenedor__nombre {
        padding-top:6rem;
    }

    .nav-main {
        height:5rem;
    }

    .nav-main ul.nav-menu-center{
        display: none;
    }
    /* ==============CONTENEDOR PRINCIPAL================= */

    .container {
        position:relative;
        margin: 0 auto;
        width: 98%;
    }

    /* SHOWCASE */

    .showcase {
        background: url(../Img/art__vennegoor/VOF\ INICIO.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
        width:100%;
        height:40rem;
        padding:0;
        display: flex;
        align-items:center;

    }
    .showcase_texto {
        position: relative;
        width: 75%;
        text-align: left ;
        padding: 2rem;
       
    }
    
    .showcase_texto::before{
    content: '';
    position: absolute;
    top: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.showcase p {
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
    position: relative;
    color: #f5f5f5;
    margin:0 auto;

}
.showcase h2 {
    position: relative;
    color: #f5f5f5;
    font-size: 4rem;
    padding-left: 2rem;
}

    /* CONTENIDO PRINCIPAL */

    .contenido-principal {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    
    .contenido-principal img {
        max-width:100%;
        height: auto;
        padding: 3rem 4rem 0 4rem;
       
    }

    .contenido-principal h3 {
        font-size: 2.8rem;
        padding-left: 4rem;
       
    }
    
    .contenido-principal p {
        font-size:1.6rem;
        padding-left:4rem;
        width:95%;
        

    }
    
    .contenido-principal_boton {
        display: none;
        
    }
        
    .banner-one,
    .banner-two {
    margin:4rem auto;
    }


    .banner-one-content,
    .banner-two-content {
        width: 70%;
    }
    .footer-links-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:50rem){
    .contenido-principal {
        grid-template-columns: 1fr;
    }
    .contenido-principal img {
        height: auto;
    }
    .banner-one-content,
    .banner-two-content {
        width: 80%;
        padding-bottom:2rem;
    }
    .banner-one-content::before {
        top: 8rem;
    }
    .banner-one-content h2,
    .banner-one-content p {
     padding-top: 1rem;
    }
    .footer-links-container {
        grid-template-columns:repeat(2,1fr) ;
    }
}
@media screen and (max-width:40rem) {
    .container {
        width: 100%;
        padding: 0 0 4rem 0;
    }
    .showcase__link {
        pointer-events:visible ;
    } 
    .contenido-principal,
    .contenido-principal-titular-h3 {
        margin: 2rem;
    }
    .contenido-principal img {
        height:auto;
    }
    .showcase_texto {
        width: 90%;
    }
    .btn {
        display: none;
    }
    .banner-one-content {
        padding:10rem 5rem 0 5rem ;
    }
    .banner-one-content::before {
        top: 7rem;
    }
}
@media screen and (max-width:30rem) {
    .contenido-principal-titular-h3 {
        font-size:3rem;
    }
    .contenido-principal img {
        height:auto;
        width:100%;
        padding:0;
    }
    .contenido-principal p,
    .contenido-principal h3 {
        padding:0;
    }
    .showcase_texto {
        width: 100%;
        height: 23rem;
        padding: 1rem;
    }
    .showcase_texto h2 {
        font-size: 3rem;
        padding-left: 1rem;
    }
    .showcase p {
        font-size: 1.5rem;
        padding:2rem 1rem 0 1rem;
    }
    .btn {
        display: none;
    }
    .banner-one-content {
        padding-top:2rem;
    }
    .banner-one-content h2{
        padding-top:2rem;
        padding-left:0;
    }
    .banner-one-content p{
        padding:0;
    }
    .banner-one-content::before {
        top: 3rem;
    }
    .banner-two-content {
        top: 2rem;
        right:2.5rem;
        padding-bottom: 0;
    }
    .footer-links-container {
        grid-template-columns:repeat(1,1fr) ;
    }
}
@media screen and (max-width:20rem) {
    .showcase {
        height:45rem;
    }
    .showcase p {
        padding-top: 1rem;
        font-size:1.3rem;
    }
    .banner-one-content {
        padding-top:2rem;
    }
    .banner-one-content h2{
        padding-top:4rem;
        padding-left:0;
        font-size: 1.7rem;
    }
    .banner-one-content p{
        padding:0;
        font-size: 1.5rem;
    }
    .banner-one-content::before {
        top: 3rem;
    }
    .banner-two-content {
        top: 3rem;
        right:2.5rem;
        padding: 1rem;
    }
    .banner-two-content p{
        font-size: 1.5rem;
    }
    .banner-two-content h2 {
        font-size:1.7rem;
    }
}
@media screen and (max-width:15rem) {
    .banner-one,
    .banner-two {
        display: none;
    }
}